<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="https://www.thymeleaf.org.thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<footer class="mastfoot mt-auto" th:fragment="vts-footer">
        <div class="inner">
            <p style="font-size:14px;">A Project for "Distributed Systems" Course - by group id 39.</p>
            <p style="font-size:11px;">Greg Lefkelis - <a href="mailto:it21451@hua.gr" target="_blank">it21451@hua.gr</a>, Giannis Mavrodimos - <a href="mailto:it222068@hua.gr" target="_blank">it22068@hua.gr</a>, Petros Tsatsis - <a href="mailto:it22106@hua.gr" target="_blank">it22106@hua.gr</a></p>
    </div>
</footer>
</body>
</html>