<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{page_layout/layout}" xmlns:sec="https://www.thymeleaf.org.thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>myVTS Application</title>
    <link rel="icon" href="/static/image/favicon.ico">
</head>
<body>
<div layout:fragment="message-body">
    <h1>myVTS Application</h1>
   <br> <h4 sec:authorize="isAuthenticated()">Welcome back <h5 sec:authentication="name"></h5></h4><br><br>
    <h5>Vehicle Transfer System</h5>
    <p>Another <a href="https://dit.hua.gr" target="_blank"> dit.hua.gr</a> project</p>
    </div>
</body>
</html>